@import "./vars.scss";
footer{
    // background-image: url(/public/images/footer-bg.jpg); 
    // background-repeat: repeat-x;
    background-color: rgb(30, 30, 30);
}

li{
    list-style: none;
    }
a{
    text-decoration: none;
}
.logo-bg-brand{
    overflow: hidden;
    background-image:   url(/public/images/dc-logo-bg.png);
    background-repeat: no-repeat;
}
.footer-bottom{
    height: 100px;
    background-color: rgb(46, 46, 46);
}
.button-footer{
    border: 2px solid  $colorBrand ;
}
.follow a{
    color: $colorBrand;
}