@import "./vars.scss";
header{
    height: 100px;
    border-top: 10px solid rgb(27, 27, 118);
    background-color:white;
}
.logoBrand{
    width: 5%;
    min-width: 70px;
    min-height: 70px;
}
nav{
    li{
        list-style: none;
        margin-left: 2px;
        display: inline;
        padding-left:60px;
        
        a{
            text-decoration: none;
            color: $colorTextNav;
            font-size: 0.7rem;        
        }


    }
}
.active{
    color: $colorBrand;
    border-bottom: 2px solid $colorBrand ;
}
